@model ProjektAlati.Models.Rezervacija

@if (ViewBag.PredlozenDatum != null)
{
    <div class="alert alert-info">
        Možete rezervirati ovaj alat od: <strong>@(((DateTime)ViewBag.PredlozenDatum).ToString("dd.MM.yyyy."))</strong>
    </div>
}

@{
    ViewBag.Title = "Rezerviraj alat";
}

<h2>Rezerviraj alat</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div>
    @Html.HiddenFor(m => m.AlatId)
</div>

<div>
    <label for="DatumOd">Datum početka rezervacije:</label>
    <input type="date" name="DatumOd" class="form-control" required
           value="@ViewBag.PredlozenDatum?.ToString(" yyyy-MM-dd")"
           min="@DateTime.Now.ToString("yyyy-MM-dd")" />
</div>

    <button type="submit" class="btn btn-primary">Rezerviraj</button>
}
